.paragraph {
color: #153132;
}

.hide-btn {
  padding: 10px 20px 10px 20px;
  color: #153132;
  text-align: center;
}

.hide-btn:hover {
  background-color: #153132;
  color: #f0f8ff;
}

.hide-btn:active {
  background-color: #091313;
}